[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.3.3"
werkzeug = "==2.3.7"
click = "==8.1.7"
flask-cors = "*"
app = "*"
requests = "*"
python-dateutil = "*"

[dev-packages]
pytest = "==7.4.0"
flake8 = "==6.1.0"

[requires]
python_version = "3.12"
