{% extends "backstage_base.html" %}

{% block content %}
<div class="purchase-record-page">
    <h1>採購記錄</h1>
    <!-- 頁面內容將在這裡 -->
</div>

<!-- 引入特定頁面的 CSS -->
{% if request is defined and request.host.startswith('localhost:5000') %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/backstage/purchase_record.css') }}">
{% else %}
    <link rel="stylesheet" href="../../static/css/backstage/purchase_record.css">
{% endif %}

<!-- 引入特定頁面的 JS -->
{% if request is defined and request.host.startswith('localhost:5000') %}
    <script src="{{ url_for('static', filename='js/backstage/purchase_record.js') }}"></script>
{% else %}
    <script src="../../static/js/backstage/purchase_record.js"></script>
{% endif %}
{% endblock %} 